<!doctype html>
<html lang="en">

<head>
    {% block head %}
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="{{url_for('static', filename='img/apple-icon.png')}}" />
	<link rel="icon" type="image/png" href="{{url_for('static', filename='img/favicon.png')}}" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Dashboard</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">

    <!--  Material Dashboard CSS    -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/material-dashboard.css')}}">

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/demo.css')}}">

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    {% endblock %}
</head>



<body>

	<div class="wrapper">
        {% block sidebar %}
	    <div class="sidebar" data-color="purple" data-image="static/img/sidebar-1.jpg">
			<!--
		        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

		        Tip 2: you can also add an image using data-image tag
		    -->

			<div class="logo">
				<a href="http://www.creative-tim.com" class="simple-text">
					Dashboard
				</a>
			</div>

	    	<div class="sidebar-wrapper">
	            <ul class="nav" id = "myTab">
                <!--
                    {% for href, id, caption, icon, class in navigation_bar %}
                        <li{% if id == active_page %} class="active"{% endif %}>

                            {% if id == "icons" %}
                                <a href="{{ href }}"><i class="{{ class.replace("_"," ") }}"></i><p>{{ caption|e }}</p></a>
                            {% else %}
                                <a href="{{ href}}"><i class={{ class}}>{{ icon }}</i><p>{{ caption|e }}</p></a>
                            {% endif %}
                        </li>
                    {% endfor %}
                -->
                        <li {% if 'dashboard' == active_page %} class="active" {% endif %}>
                            <a href="{{ url_for('home.dashboard')}}"><i class="material-icons">home</i><p>Home</p></a>
                        </li>

                        <li {% if 'user' == active_page %} class="active" {% endif %}>
                            <a href="{{ url_for('home.server_info')}}"><i class="material-icons">person</i><p>User Profile</p></a>
                        </li>

                        <li {% if 'table' == active_page %} class="active" {% endif %}>
                            <a href="{{url_for('home.table_info') }}"><i class="material-icons">content_paste</i><p>Table</p></a>
                        </li>

                        <li {% if 'icons' == active_page %} class="active" {% endif %}>
                            <a href="{{ url_for('home.icons')}}"><i class="fa fa-server"></i><p>Server</p></a>
                        </li>

                    <!--
	                <li class="active">
	                    <a href="/">
	                        <i class="material-icons">dashboard</i>
	                        <p>Dashboard</p>
	                    </a>
	                </li>
	                <li>
	                    <a href="userInfo">
	                        <i class="material-icons">person</i>
	                        <p>User Profile</p>
	                    </a>
	                </li>
	                <li>
	                    <a href="/table">
	                        <i class="material-icons">content_paste</i>
	                        <p>Table List</p>
	                    </a>
	                </li>
	                <li>
	                    <a href="typography.html">
	                        <i class="material-icons">library_books</i>
	                        <p>Typography</p>
	                    </a>
	                </li>
	                <li>
	                    <a href="/icons">
	                        <i class="material-icons">bubble_chart</i>
	                        <p>Icons</p>
	                    </a>
	                </li>
	                <li>
	                    <a href="/maps">
	                        <i class="material-icons">location_on</i>
	                        <p>Maps</p>
	                    </a>
	                </li>
	                <li>
	                    <a href="notifications.html">
	                        <i class="material-icons text-gray">notifications</i>
	                        <p>Notifications</p>
	                    </a>
	                </li>-->
	            </ul>
	    	</div>
	    </div>
        {% endblock %}


	    <div class="main-panel">
            {% block topbar %}
			<nav class="navbar navbar-transparent navbar-absolute">
				<div class="container-fluid">
					<div class="navbar-header">

						<a class="navbar-brand" href="#"><font size="6">Welcome, {{ current_user.username }}</font></a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<!--<li>
								<a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
									<i class="material-icons">dashboard</i>
									<p class="hidden-lg hidden-md">Dashboard</p>
								</a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="material-icons">notifications</i>
									<span class="notification">5</span>
									<p class="hidden-lg hidden-md">Notifications</p>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#">Mike John responded to your email</a></li>
									<li><a href="#">You have 5 new tasks</a></li>
									<li><a href="#">You're now friend with Andrew</a></li>
									<li><a href="#">Another Notification</a></li>
									<li><a href="#">Another One</a></li>
								</ul>
							</li>-->
							<li>
								<a href="/logout" class="navbar-brand">
	 							   <!--<i class="material-icons">person</i>-->
                                    <font size="4">LOGOUT</font>
                                    <!--<p class="hidden-lg hidden-md">Profile</p>-->
		 						</a>
							</li>
						</ul>
                        <!--
						<form class="navbar-form navbar-right" role="search">
							<div class="form-group  is-empty">
								<input type="text" class="form-control" placeholder="Search">
								<span class="material-input"></span>
							</div>
							<button type="submit" class="btn btn-white btn-round btn-just-icon">
								<i class="material-icons">search</i><div class="ripple-container"></div>
							</button>
						</form>-->
					</div>
				</div>
			</nav>
            {% endblock %}

            {% block content %}
            {% endblock %}

            {% block footer %}
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul>
							<li>
								<a href="#">
									Home
								</a>
							</li>
							<li>
								<a href="#">
									Company
								</a>
							</li>
							<li>
								<a href="#">
									Portfolio
								</a>
							</li>
							<li>
								<a href="#">
								   Blog
								</a>
							</li>
						</ul>
					</nav>
					<p class="copyright pull-right">
						&copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Company</a>, made with love for a better web
					</p>
				</div>
			</footer>
            {% endblock %}

		</div>
	</div>

</body>
{% block  include_scripts %}
	<!--   Core JS Files   -->
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.1.0.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

    <script type="text/javascript" src="{{url_for('static', filename='js/material.min.js')}}"></script>

    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.js')}}"></script>
	<!--  Charts Plugin -->

	<!--  Notifications Plugin    -->
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-notify.js')}}"></script>

	<!-- Material Dashboard javascript methods -->
    <script type="text/javascript" src="{{url_for('static', filename='js/material-dashboard.js')}}"></script>

	<!-- Material Dashboard DEMO methods, don't include it in your project! -->
    <script type="text/javascript" src="{{url_for('static', filename='js/demo.js')}}"></script>

	<script type="text/javascript">
    	$(document).ready(function(){

			// Javascript method's body can be found in assets/js/demos.js
    	});

	</script>
{% endblock %}

</html>
