{% extends 'nav_common.html' %}
{% set active_page = "dashboard" %}
<!doctype html>
<html lang="en">
{% block head %}
    {{ super() }}
    <script type="text/javascript">
        history.pushState(null, null, document.URL);
        window.addEventListener('popstate', function () {
            history.pushState(null, null, document.URL);
        });
    </script>
{% endblock %}


<body>

	<div class="wrapper">
	    {% block sidebar %}
            {{ super() }}
        {% endblock %}


	    <div class="main-panel">
            {% block topbar %}
                {{ super() }}
			{% endblock %}

			{% block content %}
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header" data-background-color="red">
									<i class="material-icons">warning</i>
								</div>
								<div class="card-content">
									<h3 class="title">Cluster 1</h3>
                                    <p></p>
								</div>
								<div class="card-footer">
									<div class="stats">
                                        Info: hello I am cluster 1
                                        <br>Server: 10<br>
                                        Status: Not Available<br>
                                        <a href="#pablo">View</a>&nbsp;
                                            &nbsp;&nbsp;<a href="#pablo">Reserve</a>

									</div>
								</div>

							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header" data-background-color="green">
									<i class="material-icons">store</i>
								</div>
								<div class="card-content">
									<p class="category">Revenue</p>
									<h3 class="title">$34,245</h3>
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons">date_range</i> Last 24 Hours
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
            {% endblock %}

			{% block footer %}
                {{ super() }}
            {% endblock %}
		</div>
	</div>

</body>

	<!--   Core JS Files   -->
    {% block include_scripts %}
        {{ super() }}
    {% endblock %}
</html>
