{% extends 'nav_common.html' %}
{% set active_page = "table" %}
<!doctype html>
<html lang="en">
{% block head %}
    {{ super() }}
    <!--<link href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.css" rel="stylesheet">-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/jquery.dataTables.css')}}">
    <script type="text/javascript">


    </script>
{% endblock %}

<body>

	<div class="wrapper">
        {% block sidebar %}
             <div class="modal fade" id="myModal" role="dialog">
                 <div class="modal-dialog">

                      <!-- Modal content-->
                     <div class="modal-content">
                         <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Modal Header</h4>
                         </div>
                         <div class="modal-body">
                              <p>Some text in the modal.</p>
                         </div>
                         <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                         </div>
                     </div>
                 </div>
              </div>

            {{ super() }}
        {% endblock %}


	    <div class="main-panel">
            {% block topbar %}
                {{ super() }}
			{% endblock %}

			{% block content %}



			<div class="content">
	            <div class="container-fluid">

                    <button id="showUsers" type="button" class="btn btn-success">Show users</button>
	                <div class="row">
	                    <div class="col-md-12">
	                        <div class="card">

	                        </div>
	                    </div>

	                    <div class="col-md-12">
                            <table border="0" cellspacing="5" cellpadding="5">
                                <tbody>
                                    <tr>
                                        <td>Minimum Id:</td>
                                        <td><input type="text" id="min" name="min"></td>
                                    </tr>
                                    <tr>
                                        <td>Maximum Id:</td>
                                        <td><input type="text" id="max" name="max"></td>
                                    </tr>
                                </tbody>
                            </table>
	                        <table id="example" class="display" cellspacing="0" width="100%">
                                <thead>
                                  <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Edit/Delete</th>
                                  </tr>
                                </thead>
                                <tbody></tbody>
                              </table>
	                    </div>
	                </div>
	            </div>
	        </div>
            {% endblock %}

			{% block footer %}
                {{ super() }}
            {% endblock %}
		</div>
	</div>

</body>

	<!--   Core JS Files   -->
    {% block include_scripts %}
        {{ super() }}

        <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
        <!--<script type="text/javascript" src="{{url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>-->
        <script type="text/javascript">

                $(document).ready(function(){
                    var table = $('#example').DataTable({
                        "processing": true,
                        "serverSide": true,
                        "ajax": "{{ url_for('home.data') }}",
                        "columns":[
                            { data: "0" },
                            { data: "1" },
                            { data: "2" },
                            {
                                data: null,
                                orderable: false,
                                className: "center",
                                defaultContent: '<a class="edit" href="#myModal" data-toggle="modal">Edit</a> / <a href="" class="delete" >Delete</a>'
                            }
                        ]
                    });

                    $('#example').on('click', 'a.delete', function (e) {
                        e.preventDefault();
                        if(!confirm("Are you sure to delete this user?"))
                            return false;
                        var data = table.row( $(this).parents('tr') ).data();
                        $.ajax({
                            url:"{{ url_for('home.delete') }}",
                            dataType:"json",
                            type:"GET",
                            data:{id:data[0]},
                            success:function(response){
                                if(response.res=="True"){
                                    alert('User with ID '+data[0]+" is deleted!" );
                                    $(this).closest('tr').remove();
                                    table.ajax.reload();
                                }

                            }
                        });
                    });

                    $('#min, #max').keyup( function() {

                        var min = parseInt( $('#min').val());
                        var max = parseInt( $('#max').val());
                        if(isNaN(min)&&isNaN(max)){
                            table.ajax.url("{{ url_for('home.data') }}").load();
                            return false;
                        }
                        if(isNaN(min)) return false;
                        if(isNaN(max)) return false;
                        if(min>max) return false;
                        if(max<min) return false;
                        //alert("{{ url_for('home.filter_id') }}");
                        table.ajax.url("{{ url_for('home.filter_id') }}?min="+min+"&max="+max).load();

                    });

                });

        </script>

        <script type="text/javascript">

            $(function() {
                $('#showUsers').click(function() {
                    $.ajax({
                        url:"{{ url_for('home.ajax') }}",
                        dataType:"json",
                        type:"GET",
                        success:function(data){
                            var users = data;

                                var output = "";
                                output = output + "" +
                                        "<div class='card-header' data-background-color='purple'>"+
                                            "<h4 class='title'>Simple Table</h4>"+
                                            "<p class='category'>Users</p>"+
                                        "</div>"+
	                                    "<div class='card-content table-responsive'>"+
	                                        "<table class='table'>"+
	                                            "<thead class='text-primary'><th>ID</th><th>Name</th><th>email</th><th>email</th></thead>"+
	                                            "<tbody>";
                                        for(var i=0;i<data.length;i++) {
                                            output +=
                                                    "<tr>" +
                                                        "<td>" + data[i].id + "</td>" +
                                                        "<td>" + data[i].username + "</td>" +
                                                        "<td>" + data[i].email + "</td>" +
                                                        "<td class='text-primary'>" + data[i].email + "</td>" +
                                                    "</tr>";
                                        }
	                                    output+="</tbody>"+
	                                        "</table>"+
	                                    "</div>";

                            $(".card").html(output);
                                //alert(data[i].id+","+data[i].username+","+data[i].email);

                        }
                    });
                });

            });
        </script>
    {% endblock %}
</html>
